@{
    ViewBag.Title = "About";
}
@model InsuranceOffer.Web.Models.ViewModels.UniqueViewModel
<br />
<br />
<p class="text-danger">@ViewBag.OfferHistory</p>
@using (Html.BeginForm("OfferHistory", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.UniqueIdentifierNumber, new { @class = "col-md-2  control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UniqueIdentifierNumber, new { @class = "form-control txtUniqueIdentifierNumber", placeholder = "TC Giriniz" })
            <br />
            @Html.ValidationMessageFor(m => m.UniqueIdentifierNumber)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Sorgula" />
        </div>
    </div>
}